build
.gradle
.idea
*.iml
*.zip
**.DS_Store

node_modules
src/main/resources/vendor
src/main/resources/dist

# Elastic Beanstalk Files
.ebextensions
deploy.sh
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
