

/**
  html globals
**/
html{
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    background-color: #333;
}

html,
body {
    min-height: 100%;
    padding:0;
    margin:0;
}
body {
    background-color:rgba(0,0,0,0);
    color: #333;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.25);
    overflow:hidden;
}

div#mainBlock {
    background-color: #acacac;
    padding: 10px;
    border: 1px #fff solid;
    border-radius: 10px;
    /*height:100%;*/
}

/*
Signin
*/

.signin input {
    border:1px solid #333;
}
div.loginBlock {
    max-width:300px;
    height:350px;
}

/*
Chat
*/

div.chatBlock {
    max-width:900px;
    height:550px;
}

div#chatWrapper{
    height:100%;
    padding:40px 0 100px 0;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
div#chatWrapper > header {
    text-align:left;
    margin-top:-40px;
    height:40px;
    font-family:Helvetica, Arial, sans-serif;
    font-size:20px;
    padding-top:5px;
    padding-bottom:10px;
    padding-left:10px;
}
div#chatArea{
    height:100%;
    width:100%;
}
div#chatUsersWrapper.changes{
    width: 38%;
    float:right;
}
div#chatUsers > div {
    padding:7px 10px 7px 10px;
    border-bottom:1px solid #999;
}
div#chatContent,div#chatUsers{
    height:100%;
    text-align:left;
    padding:0;
}
.nano.nanoChanges > .nano-pane {
    margin:5px;
}
.nano.nanoChanges > .nano-pane .nano-slider {
    border-radius:5px;
}
div#chatContentWrapper,div#chatUsersWrapper{
    height:100%;
    width:60%;
    position:relative;
    float:left;
    background-color:#eee;
    border-radius:5px;
    border:1px solid #999;
    box-shadow:inset 0 0 5px rgba(0,0,0,.5);
}
.nano .nano-slider { background: #111; }
div#chatWrapper footer {
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:-70px;
    height:70px;
}
div#chatWrapper > footer input {
    height:40px;
    font-family:Helvetica, Arial, sans-serif;
    width:100%;
}
div#chatWrapper > footer button {
    height:40px;
}

.chatLine,.userLine{
    margin-bottom:0;
    padding:5px 10px 5px 10px;
    -ms-word-wrap:break-word;
    word-wrap:break-word;
    border-bottom:1px solid #bbb;
}
#typingFeedback{
    padding:5px 20px 5px 20px;
    font-style:italic;
    font-size:10pt;
    color:#777;
}

.vote.btn-group {
    margin-top:10px;
}
.clearVote {
    float:left;
    margin-top:10px;
}
.btn.glyphicon {
    top:0;
}
.reveal {
    float:right;
    margin-top:10px;
}
.glyphicon img {
    width:15px;
    margin-top:-3px;
}
.glyphicon.glyphicon-ok-sign.voted {
    float:right;
    margin-top:2px;
}

.glyph.ZERO::before{
    content:'0';
    float:right;
}
.glyph.HALF::before{
    content:'1/2';
    float:right;
}
.glyph.ONE::before{
    content:'1';
    float:right;
}
.glyph.TWO::before{
    content:'2';
    float:right;
}
.glyph.THREE::before{
    content:'3';
    float:right;
}
.glyph.FIVE::before{
    content:'5';
    float:right;
}
.glyph.EIGHT::before{
    content:'8';
    float:right;
}
.glyph.THIRTEEN::before{
    content:'13';
    float:right;
}
.glyph.BREAK {
    background: url("/image/glyphicons-halflings-278-coffee-cup@3x.png") no-repeat;
    background-size: 12px;
    width: 13px;
    height: 13px;
    margin-top: 5px;
    float: right;
}
span.glyph.glyphicon.glyphicon-question-sign {
    float:right;
    margin-top:3px;
}

/*
Others
*/

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin:50px auto 50px auto;
    height:100%;
    padding-top:10px;
    padding-bottom:100px;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
    border:1px solid #999;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .cover-container {
        width: 700px;
    }
}
