<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Hello WebSocket</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/manifest.json"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-TileImage" content="/mstile-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/vendor/html5shiv/dist/html5shiv.min.js"></script>
    <script src="/vendor/respond/dest/respond.min.js"></script>
    <![endif]-->

    <!-- End Vendor Styles -->

    <link href="/dist/css/main.css" rel="stylesheet"/>
</head>
<body>
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div id="mainBlock" class="inner cover center-block loginBlock">
                <div id="loginArea">
                    <div class="loginHeading">
                        <h1 class="cover-heading">Chat</h1>
                        <p class="lead">Chat with people.</p>
                    </div>
                    <div class="loginFields">
                        <div class="loginFieldsHead"></div>
                        <div class="loginFieldsContent">
                            <div class="form-group">
                                <label class="pull-left control-label" for="name">Name</label>
                                <input class="form-control" id="name" placeholder="Name"/>
                            </div>
                            <div class="form-group">
                                <label class="pull-left control-label" for="room">Room</label>
                                <input class="form-control" id="room" placeholder="Room"/>
                            </div>
                            <p class="lead">
                                <a id="startChat" href="javascript:void(0);" class="btn btn-lg btn-default">Start Chatting!</a>
                            </p>
                        </div>
                    </div>
                    <div class="loginFieldsFoot"></div>
                </div>
                <div id="chatWrapper" style="display:none;opacity:0.0;">
                    <header>
                        <div id="roomName">Room</div>
                    </header>
                    <div id="chatArea">
                        <div id="chatContentWrapper">
                            <div class="nano">
                                <div id="chatContent" class="nano-content">
                                    <div id="typingFeedback" style="display:none;"></div>
                                </div>
                            </div>
                        </div>
                        <div id="chatUsersWrapper" class="changes">
                            <div class="nano">
                                <div id="chatUsers" class="nano-content"></div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div class="input-group">
                            <input type="text" id="sendMessage" class="form-control" placeholder="Type to chat..."/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="sendButton">Send</button>
                            </span>
                        </div>
                        <div class="vote-btn-group btn-group" role="group" aria-label="" data-toggle="buttons">
                            <button type="button" data-vote="QUESTION" class="btn btn-default btn-question"></button>
                            <button type="button" data-vote="ZERO" class="btn btn-default">0</button>
                            <button type="button" data-vote="HALF" class="btn btn-default">&frac12;</button>
                            <button type="button" data-vote="ONE" class="btn btn-default">1</button>
                            <button type="button" data-vote="TWO" class="btn btn-default">2</button>
                            <button type="button" data-vote="THREE" class="btn btn-default">3</button>
                            <button type="button" data-vote="FIVE" class="btn btn-default">5</button>
                            <button type="button" data-vote="EIGHT" class="btn btn-default">8</button>
                            <button type="button" data-vote="THIRTEEN" class="btn btn-default">13</button>
                            <button type="button" data-vote="TWENTY_ONE" class="btn btn-default">21</button>
                            <button type="button" data-vote="BREAK" class="btn btn-default btn-break">
                            </button>
                        </div>
                        <div class="unVote btn-group" role="group" aria-label="">
                            <button type="button" data-vote="UNVOTE" class="btn btn-default">Unvote</button>
                        </div>
                        <div id="revealButton" class="reveal btn-group" role="group" aria-label="">
                            <button type="button" class="btn btn-default">Reveal</button>
                        </div>
                    </footer>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Vendor Scripts -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="/vendor/sockjs-client/dist/sockjs.min.js"></script>
<script src="/vendor/stomp-websocket/lib/stomp.min.js"></script>
<script src="/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js"></script>
<script src="/vendor/moment/min/moment.min.js"></script>
<!-- End Vendor Scripts -->

<script src="/js/utils.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/index.js"></script>
</body>
</html>