@import 'login';

.animated {
  animation-duration: 2.0s;
  animation-fill-mode: both;
}

$login-width:300px;
$login-height:350px;
$chat-width:900px;
$chat-height:500px;

@keyframes growMainArea {
  from {
    max-width:$login-width;
    height:$login-height;
  }
  to {
    max-width:$chat-width;
    height:$chat-height;
  }
}
@-webkit-keyframes growMainArea {
  from {
    max-width:$login-width;
    height:$login-height;
  }
  to {
    max-width:$chat-width;
    height:$chat-height;
  }
}

.growMainArea {
  -webkit-animation-name:growMainArea;
  animation-name:growMainArea;
}

@keyframes showArea {
  from {
    opacity:0.0;
  }
  to {
    opacity:1.0;
  }
}
@-webkit-keyframes showArea {
  from{
    opacity:0.0;
  }
  to {
    opacity:1.0;
  }
}

.showArea {
  -webkit-animation-name:showArea;
  animation-name:showArea;
}

@keyframes hideArea {
  from {
    opacity:1.0;
  }
  to {
    opacity:0.0;
  }
}
@-webkit-keyframes hideArea {
  from{
    opacity:1.0;
  }
  to {
    opacity:0.0;
  }
}
.hideArea {
  -webkit-animation-name:hideArea;
  animation-name:hideArea;
}