@import 'login';

.animated {
  animation-duration: 0.5s;
}

$keyframeNames:('@keyframes','@-webkit-keyframes');
$size-map:(
   regular:(
      media-max-width:10000px,
      login-width:300px,
      login-height:350px,
      chat-width:768px,
      chat-height:550px
   ),
   small:(
      media-max-width:600px,
      login-width:70%,
      login-height:60%,
      chat-width:100%,
      chat-height:100%,
   )
);

@each $name,$value in $size-map {
  @keyframes growMainArea-#{$name}{
    from {
      width:map-get($value,'login-width');
      height:map-get($value,'login-height');
    }
    to {
      width:map-get($value,'chat-width');
      height:map-get($value,'chat-height');
    }
  }
  @media(max-width:map-get($value,'media-max-width')) {
    div#mainBlock.growMainArea {
      animation-name:growMainArea-#{$name};
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-duration: 0.5s;
    }
  }
}

@keyframes showArea {
  from {opacity:0.0;}
  to {opacity:1.0;}
}
.showArea {animation-name:showArea;}

@keyframes hideArea {
  from {opacity:1.0;}
  to {opacity:0.0;}
}
.hideArea {animation-name:hideArea;}
